/* src/app/page.module.css */

.heroText {
  font-size: 3rem;
  font-weight: 800;
  font-family: 'SF Pro', sans-serif;
  color: black;
  margin-bottom: 1rem;
}

.description {
  font-size: 1.125rem;
  font-weight: 500;
  font-family: 'SF Pro', sans-serif;
  color: #333;
  line-height: 1.6;
}
